# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test Coverage
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

# Backup & report files
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf
*.ndf

# Node.js
node_modules/

# Python
__pycache__/
*.pyc

# MSBuild Binary and Structured Log
*.binlog

# BeatPulse healthcheck temp database
healthchecksdb

# VS History
.localhistory/
.vshistory/

# Fody
FodyWeavers.xsd

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Kanbmine specific
appsettings.Development.json
appsettings.Local.json
*.db
*.db-shm
*.db-wal